.naviBox {
    margin-bottom: 5px;
    width: 140px;
    text-align: center;
}

.naviText {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8vmin;
}

.navigation a:hover {
    padding: 20px;
    background-color: gray;
    transition: 0.1s;
}

.toggleNav {
    display: none;
    transition: 0.1s;
}

.toggleImg {
    width: 8vmin;
    display: block;
    float: right;
    padding-top: 0;
}

@media screen and (max-width: 872px) {
    .navigation {
        display: none;
    }
    .toggleNav {
        display: block;
        float: right;
        padding-right: 10px;
        padding-top: 10px;
    }

    .show__menu{
        visibility: visible;
        padding-top: 8vmin;
        transition: 0.2s;
        height: 130px;
    }

    .show__menu a:hover {
        padding: 8px;
        background-color: gray;
        transition: 0.1s;
    }

    .hide__menu{
        visibility: hidden;
        transition: 0.2s;
        height: 0;
    }
}